@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


@{
    var selection = Model.Root().Children().Where(x => x.IsVisible());
	var homePage = Model.Root();
}

<!-- Footer -->
<footer class="site-footer text-white">
	<div class="footer-top bg-primary " style="background-image:url(images/map1.png)">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-5 col-xl-3 col-lg-4 col-sm-6 footer-col-4 col-12">
					<div class="widget border-0">
						<h5 class="m-b30 text-white">Company</h5>
						
						
						<ul class="list-2">

							@foreach (var item in selection)
							{
								<li>
									<a href="@item.Url()">
										@(!(String.IsNullOrEmpty(item.Value<String>("menuDisplayName"))) ? item.Value("menuDisplayName") : item.Name)
									</a>
								</li>
							}
					

						
						</ul>


					</div>
				</div>
				<div class="col-md-6 col-xl-3 col-lg-4 col-sm-6 footer-col-4 col-12">
					<h4 class="m-b30 text-white">Company</h4>
					<div class="widget recent-posts-entry">
						<div class="widget-post-bx">


						@{
							var selectionBlog = Umbraco.Content(Guid.Parse("6225fd59-0f21-401f-9f0a-a2a6901bee8e"))
							.ChildrenOfType("article")
							.Where(x => x.IsVisible())
							.OrderByDescending(x => x.CreateDate)
							.Take(3);
						}
						
							@foreach (var item in selectionBlog)
							{
								var BlogImage = item.Value<MediaWithCrops>("heroImage");
								var blogDate = item.Value<DateTime>("date");
									
									<div class="widget-post clearfix">
								<div class="dlab-post-media"> <img src="@BlogImage?.MediaUrl()" alt="" width="200" height="143"> </div>
								<div class="dlab-post-info">
									<div class="dlab-post-header">
											<h6 class="post-title"><a href="@item.Url()">@item.Value("title")</a></h6>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-author">@blogDate.ToString("dd-MMM-yyyy")</li>
										</ul>
									</div>
								</div>
							</div>
							}
						



						
						
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-3 col-lg-4 col-sm-6 footer-col-4  col-12">
					<div class="widget widget_getintuch">
						<h4 class="m-b30 text-white ">Contact us</h4>
						<ul>
							<li><i class="ti-location-pin"></i><strong>address</strong> @homePage.Value("homeHeaderAddress") </li>
							<li><i class="ti-mobile"></i><strong>phone</strong>@homePage.Value("homeHeaderPhone")</li>
							<li><i class="ti-email"></i><strong>email</strong>@homePage.Value("homeHeaderEmail")</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 col-sm-6 footer-col-4 d-lg-none d-xl-block  col-12">
					<div class="widget widget_gallery gallery-grid-4">
						<h4 class="m-b30 text-white">Gallery</h4>
						<ul>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic1.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic2.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic3.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic4.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic5.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic6.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic7.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic8.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic9.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic1.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic2.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic3.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic7.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic8.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic9.jpg" alt=""></a> </li>
							<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic6.jpg" alt=""></a> </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="dlab-divider bg-white tb20 op4"><i class="icon-dot c-square"></i></div>
			<div class="row m-t30">
				<div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 footer-col-4 m-b15">
					<h4 class=" text-white">Flows Us</h4>
					<ul class="list-inline m-a0">
						<li><a href="https://www.facebook.com/" target="_blank" class="site-button facebook circle "><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://www.behance.net/" target="_blank" class="site-button behance circle "><i class="fab fa-behance"></i></a></li>
						<li><a href="https://www.linkedin.com/" target="_blank" class="site-button linkedin circle "><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="https://www.instagram.com/" target="_blank" class="site-button instagram circle "><i class="fab fa-instagram"></i></a></li>
						<li><a href="https://www.twitter.com/" target="_blank" class="site-button twitter circle "><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
				@*<div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 footer-col-4">
					<div class="widget">
						<h4 class="m-b15 text-white">Subscribe To Our Newsletter</h4>
						<div class="subscribe-form style-1 m-b20">
							<form class="dzSubscribe" action="https://agency.dexignzone.com/xhtml/script/mailchamp.php" method="post">
								<div class="dzSubscribeMsg"></div>
								<div class="input-group">
									<input name="dzEmail" required="required" class="form-control" placeholder="Your Email Address" type="email">
									<span class="input-group-btn">
										<button name="submit" value="Submit" type="submit" class="site-button black radius-xl">Subscribe</button>
									</span>
								</div>
							</form>
						</div>

					</div>
				</div>*@
			</div>
		</div>
	</div>
	<!-- footer bottom part -->
	<div class="footer-bottom bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 text-left ">  <span>Copyright © <span class="current-year">2025</span><a href="https://digidooagency.com/" target="_blank"> Digidoo</a> </span></div>
				<div class="col-md-6 col-sm-6 text-right ">
					<div class="widget-link ">
						<ul>
							<li><a href="javascript:void(0);"> Help Desk</a></li>
							<li><a href="javascript:void(0);"> Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer END-->
<button class="scroltop fa fa-chevron-up"></button>





