@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{

	Layout = "masterTemplate.cshtml";

	var HomePage = Model.Root();
	var AboutHeaderImage = Model.Value<MediaWithCrops>("aboutHeaderImage");
	var AboutMissionImage = Model.Value<MediaWithCrops>("aboutMissionImage");
	var AboutVisionImage = Model.Value<MediaWithCrops>("aboutVisionImage");
	var AboutSectionImage = Model.Value<MediaWithCrops>("aboutSectionImage");
	var AboutBenefitImage1 = Model.Value<MediaWithCrops>("aboutBenefitImage1");
	var AboutBenefitImage2 = Model.Value<MediaWithCrops>("aboutBenefitImage2");
	var AboutBenefitImage3 = Model.Value<MediaWithCrops>("aboutBenefitImage3");




}

<!-- Content -->
<div class="page-content bg-white">
	<!-- inner page banner -->
	<div class="dlab-bnr-inr overlay-primary" style="background-image:url(@AboutHeaderImage?.MediaUrl());">
		<div class="container">
			<div class="dlab-bnr-inr-entry">
				<h1 class="text-white">@Model.Value("aboutHeaderTitle")</h1>
				<!-- Breadcrumb row -->
				<div class="breadcrumb-row">
					<ul class="list-inline">
						<li><a href="@HomePage.Url()">@HomePage.Name()</a></li>
						<li>@Model.Name()</li>
					</ul>
				</div>
				<!-- Breadcrumb row END -->
			</div>
		</div>
	</div>
	<!-- inner page banner END -->
	<div class="content-block">
		<!-- About Us -->
		<div class="section-full content-inner-2">
			<div class="container">
				<div class="section-head text-black text-center">
					<h4 class="text-gray-dark m-b10">@Model.Value("aboutTitle")</h4>
					<h2 class="box-title m-tb0">@Model.Value("aboutSubTitle")<span class="bg-primary"></span></h2>
					<p>@Model.Value("aboutDesc")</p>
				</div>
			</div>
			<div class="container">
				<div class="row ">
					<div class="col-lg-5 col-md-4 about-img wow fadeIn" data-wow-delay="0.4s">
						<img src="@AboutSectionImage?.MediaUrl()" data-tilt alt="">
					</div>
					<div class="col-lg-7 col-md-8">
						<div class="abuot-box left row m-lr0 wow fadeIn" data-wow-delay="0.6s">
							<div class="col-lg-4">
								<h2 class="box-title m-tb0">@Model.Value("aboutSectionTitle")<span class="bg-primary"></span></h2>
								<h4 class="text-gray-dark">@Model.Value("aboutSectionSubTitle")</h4>
							</div>
							<div class="col-lg-8">
								<p>@Model.Value("aboutSectionDesc")</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Our Services -->
		<!-- Why Chose Us -->
		<div class="section-full content-inner-1 overlay-primary about-service bg-img-fix" style="background-image:url(images/background/bg1.jpg);">
		@* 	<div class="container">
				<div class="section-head text-white text-center">
					<h2 class="box-title m-tb0 max-w800 m-auto">Amazing things happen to your business when we connect those dots of utility and value<span class="bg-primary"></span></h2>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over</p>
				</div>
			</div>
			<div class="container">
				<div class="row text-white">
					<div class="col-lg-4 col-md-4 col-sm-6 m-b30">
						<div class="icon-bx-wraper bx-style-1 p-a30 center">
							<div class="icon-lg text-white m-b20"> <a href="javascript:void(0);" class="icon-cell text-white"><i class="flaticon-pen"></i></a> </div>
							<div class="icon-content">
								<h5 class="dlab-tilte text-uppercase">Creative</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 m-b30">
						<div class="icon-bx-wraper bx-style-1 p-a30 center">
							<div class="icon-lg text-white m-b20"> <a href="javascript:void(0);" class="icon-cell text-white"><i class="flaticon-diamond"></i></a> </div>
							<div class="icon-content">
								<h5 class="dlab-tilte text-uppercase">Innovative</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 m-b30">
						<div class="icon-bx-wraper bx-style-1 p-a30 center">
							<div class="icon-lg text-white m-b20"> <a href="javascript:void(0);" class="icon-cell text-white"><i class="flaticon-devices"></i></a> </div>
							<div class="icon-content">
								<h5 class="dlab-tilte text-uppercase">Functional</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
							</div>
						</div>
					</div>
				</div>
			</div> *@
			<div class="choses-info text-white">
				<div class="container-fluid">
					<div class="row choses-info-content">
						<div class="col-lg-3 col-md-3 col-sm-6 p-a30 wow zoomIn" data-wow-delay="0.2s">
							<h2 class="m-t0 m-b10 font-weight-400 font-45"><i class="@Model.Value("aboutCountericon1") m-r10"></i><span class="counter">@Model.Value("aboutCounterNo1")</span>+</h2>
							<h4 class="font-weight-300 m-t0">@Model.Value("aboutCounterTitle1")</h4>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 p-a30 wow zoomIn" data-wow-delay="0.4s">
							<h2 class="m-t0 m-b10 font-weight-400 font-45"><i class="@Model.Value("aboutCountericon2") m-r10"></i><span class="counter">@Model.Value("aboutCounterNo2")</span>+</h2>
							<h4 class="font-weight-300 m-t0">@Model.Value("aboutCounterTitle2")</h4>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 p-a30 wow zoomIn" data-wow-delay="0.6s">
							<h2 class="m-t0 m-b10 font-weight-400 font-45"><i class="@Model.Value("aboutCountericon3") m-r10"></i><span class="counter">@Model.Value("aboutCounterNo3")</span>+</h2>
							<h4 class="font-weight-300 m-t0">@Model.Value("aboutCounterTitle3")</h4>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 p-a30 wow zoomIn" data-wow-delay="0.8s">
							<h2 class="m-t0 m-b10 font-weight-400 font-45"><i class="@Model.Value("aboutCountericon4") m-r10"></i><span class="counter">@Model.Value("aboutCounterNo4")</span>+</h2>
							<h4 class="font-weight-300 m-t0">@Model.Value("aboutCounterTitle4")</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Why Chose Us End -->
		<!-- Mission And Vision -->
		<div class="section-ful our-about-info content-inner-1 wow fadeIn" data-wow-delay="0.4s" style="background-image:url(images/background/bg-map.jpg); background-position:center; background-repeat:no-repeat;">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="box-title m-tb0">@Model.Value("aboutMissionSectionTitle")<span class="bg-primary"></span></h2>
					<p>@Model.Value("aboutMissionSectionDesc")</p>
				</div>
				<div class=" row dzseth m-b30">
					<div class="col-lg-6 col-md-6 m-b30 about-img wow fadeIn" data-wow-delay="0.8s">
						<img src="@AboutMissionImage?.MediaUrl()" data-tilt alt="">
					</div>
					<div class="col-lg-6 col-md-6 m-b30 dis-tbl text-justify">
						<div class="dis-tbl-cell">
							<h3 class="box-title">@Model.Value("aboutMissionTitle")<span class="bg-primary"></span></h3>
							<p class="font-16">@Model.Value("aboutMissionDesc")</p>
						</div>
					</div>
				</div>
				<div class="row dzseth">
					<div class="col-lg-6 col-md-6 dis-tbl text-justify">
						<div class="dis-tbl-cell">
							<h3 class="box-title">@Model.Value("aboutVisionTitle")<span class="bg-primary"></span></h3>
							<p class="font-16">@Model.Value("aboutVisionDesc")</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 about-img wow fadeIn" data-wow-delay="0.8s">
						<img src="@AboutVisionImage?.MediaUrl()" data-tilt alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- Mission And Vision END -->

		<div class="section-full content-inner bg-img-fix" style="background-image:url(~/images/background/bg11.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 text-center section-head">
						<h2 class="font-weight-700 max-w700 m-auto">@Model.Value("aboutBenefitTitle")</h2>
						<p class="m-b0">@Model.Value("aboutBenefitDesc")</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-4 col-sm-6 m-b30 wow fadeIn" data-wow-delay="0.2s">
						<div class="dlab-box">
							<div class="dlab-media dlab-img-overlay5"> <a href="javascript:void(0);"><img src="@AboutBenefitImage1.MediaUrl()" alt=""></a> </div>
							<div class="dlab-info p-a30 border-1 bg-white">
								<div class="icon-md text-primary m-b20"> <a href="javascript:void(0);" class="icon-cell text-primary"><i class="@Model.Value("aboutBenefitIcon1")"></i></a> <div></div></div>
								<h5 class="dlab-title m-t0"><a href="javascript:void(0);">@Model.Value("aboutBenefitName1")</a></h5>
								<p class="m-b15">@Model.Value("aboutBenefitdeDesc1") </p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-sm-6 m-b30 wow fadeIn" data-wow-delay="0.4s">
						<div class="dlab-box">
							<div class="dlab-media dlab-img-overlay5"> <a href="javascript:void(0);"><img src="@AboutBenefitImage2.MediaUrl()" alt=""></a> </div>
							<div class="dlab-info p-a30 border-1 bg-white">
								<div class="icon-md text-primary m-b20"> <a href="javascript:void(0);" class="icon-cell text-primary"><i class="@Model.Value("aboutBenefitIcon2")"></i></a> <div></div></div>
								<h5 class="dlab-title m-t0"><a href="javascript:void(0);">@Model.Value("aboutBenefitName2")</a></h5>
								<p class="m-b15">@Model.Value("aboutBenefitdeDesc2")</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-4 col-sm-6 m-b30 wow fadeIn" data-wow-delay="0.6s">
						<div class="dlab-box">
							<div class="dlab-media dlab-img-overlay5"> <a href="javascript:void(0);"><img src="@AboutBenefitImage3.MediaUrl()" alt=""></a> </div>
							<div class="dlab-info p-a30 border-1 bg-white">
								<div class="icon-md text-primary m-b20"> <a href="javascript:void(0);" class="icon-cell text-primary"><i class="@Model.Value("aboutBenefitIcon3")"></i></a> <div></div></div>
								<h5 class="dlab-title m-t0"><a href="javascript:void(0);">@Model.Value("aboutBenefitName3")</a></h5>
								<p class="m-b15">@Model.Value("aboutBenefitdeDesc3") </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Testimonials -->
		<div class="section-full content-inner wow fadeIn" data-wow-delay="0.4s" style="background-image:url(images/background/bg-map.jpg); background-position:center; background-repeat:no-repeat;">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="box-title m-tb0">@Model.Value("aboutTestimonialTitle")<span class="bg-primary"></span></h2>
					<p>@Model.Value("aboutTestimonialDesc")</p>
				</div>
				<div class="section-content m-b30 row">

                        @Html.GetBlockListHtml(Model, "aboutTestimonials", "AboutTestimonial")

				</div>
			</div>
		</div>
		<!-- Testimonials END -->


	<div class="section-full content-inner-2 bg-img-fix" style="background-image:url(images/background/bg13.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center section-head">
						<h2 class="font-weight-700 m-b0">@Model.Value("AboutOurTeamsTitle")</h2>
						<p class="m-b0">@Model.Value("AboutOurTeamsDesc")</p>
					</div>
				</div>
				@Html.GetBlockListHtml(Model, "aboutOurTeams", "AboutOurTeam")

				
			</div>
			<div class="container">
				<div class="row ">
					<div class="col-lg-12 text-center section-head">
						<h2 class="m-b10">@Model.Value("aboutPartnerTitle")</h2>
						<h5 class="m-b0 font-weight-300 max-w600 m-auto">@Model.Value("aboutPartnerDesc")</h5>
					</div>
				</div>
				<div class="row m-b30">
					@{
						var AboutPartnerImages = Model.Value<IEnumerable<IPublishedContent>>("aboutPartnerImages");
						foreach (var image in AboutPartnerImages)
						{
							<div class="col-md-2 col-sm-4 col-6 m-b30"><div class="br-col-b1 border-1"><img src="@image.Url()" alt="@image.Name"></div></div>

						}
					}
					</div>
				@* <div class="row">
					<div class="col-md-12 text-center">
						<a href="javascript:void(0);" class="site-button button-md">View All Partner</a>
					</div>
				</div> *@
			</div>
		</div>



	
	</div>
	<!-- contact area END -->
</div>
<!-- Content END-->